/* IBM Carbon Design overrides and customizations */
.cds--header__nav-item a {
  color: #161616;
  text-decoration: none;
}

.cds--header__nav-item a:hover,
.cds--header__nav-item a.cds--header__menu-item--active {
  color: #0f62fe;
}